body{
    background-color: magenta;
}

p.center {
    text-align: center;

} 


p {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 50px;
    margin-left: 50px;
    color: purple;
    font-family: Arial;
    font-size: 52px;
    background-color: teal;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
